body{
    font-family: 'Montserrat', sans-serif;
}
table{
    width: 100%;
}
th{

    background-color:#000;
    color:#fff;
    border:1px solid white;
    padding-left: 100px;
    padding-right: 100px;
    font-weight: 700;
    width: 100%;

}
tr{
    width:100%;
}
td{
    border: black solid 1px;
    text-align: center;
    margin-top:0;

}
#bio{
    background-color: #99FFCC;
    font-weight: 400;
   
}
#hist{
    background-color: #99FFFF;
    font-weight: 400;
}
#chem{
    background-color: #FFFF99;
}